{{!-- Homepage --}}
{{#if items}}
<ul id="item-wrapper">
    {{#each items}}
    <li>
        <a class="website-wrapper" target="_blank" style="background: {{ color }}" href="{{ link }}"></a>
        <div class="text-wrapper">
            <input class="title" type="text" value="{{ title }}">
            <input class="link" type="text" value="{{ link }}">
            <input class="category" type="text" list="cats" value="{{ category }}">
                    <datalist id="cats">
                        {{#each categories }}
                            <option value="{{ name }}">
                        {{/each}}
                    </datalist>
            <textarea class="desc" type="text" value="">{{ description }}</textarea>
            <input class="color" type="color" name="colorpicker" value="{{ color }}">
            <button type="submit" type="text" class="save" data-id="{{ id }}">Save</button>
        </div>
        <div class="controls">
            <button class="edit" data-id="{{ id }}">Edit</button>
            <button class="delete" data-id="{{ id }}">Delete</button>
        </div>
    </li>
    {{/each}}
</ul>
{{/if}}