{{!-- Homepage --}}
{{#if items}}
<ul id="item-wrapper">
    {{#each items}}
    <li style="background: {{ color }}">
        <a class="website-wrapper" target="_blank" href="{{ link }}"></a>
        <form class="text-wrapper">
            <input class="title" value="{{ title }}">
            <input class="link" value="{{ link }}">
            <input class="tags" value="{{ tags }}">
            <input class="desc" value="{{ description }}">
            <input class="color" type="color" name="colorpicker" value="{{ color }}">
            <button type="submit" class="save" data-id="{{ id }}">Save</button>
        </form>
        <div class="controls">
            <button class="edit" data-id="{{ id }}">Edit</button>
            <button class="delete" data-id="{{ id }}">Delete</button>
        </div>
    </li>
    {{/each}}
</ul>
{{/if}}
    
