{{!-- Homepage --}}
{{#if items}}
<ul id="item-wrapper">
    {{#each items}}
    <li style="background: {{ color }}">
        <a class="website-wrapper" target="_blank" href="{{ link }}">
            <div class="title">{{ title }}</div>
            <div class="link">{{ link }}</div>
            <div class="tags">{{ tags }}</div>
            <div class="desc">{{ description }}</div>
        </a>
        <div class="controls">
            <button class="edit" data-id="{{ id }}">Edit</button>
            <button class="delete" data-id="{{ id }}">Delete</button>
        </div>
    </li>
    {{/each}}
</ul>
{{/if}}
    
