{{!-- Homepage --}}
{{#if items}}
<ul>
    {{#each items}}
    <li style="background: {{ color }}">
        <a class="website-wrapper" target="_blank" href="{{ link }}">
            <div class="title">{{ title }}</div>
            <div class="link">{{ link }}</div>
            <div class="tags">{{ tags }}</div>
            <div class="desc">{{ description }}</div>
        </a>
    </li>
    {{/each}}
</ul>
{{/if}}
    
